<div id="gb-page" class="hp"> 
    <header id="gb-main-page-header">
    	<section id="gb-custom-mystart" class="gb-section gb-section-pad flex-cont">
        	<a href="/dev0" class="mystart-label">District Home</a>
            
            <div id="gb-school-list" class="custom-dropdown">
                <button class="mystart-label" aria-controls="school-list" aria-expanded="false" aria-haspopup="true">Our Schools</button>
                <ul id="school-list" class="dropdown" aria-hidden="true"></ul>
            </div>
            
            <div id="gb-translate-menu">
                <i class="communication cs-icon-communication-86"></i>
            </div>
            
            [$IF LOGGED IN$]
				<div id="gb-user-options" class="custom-dropdown">
                    <button class="mystart-label" aria-controls="user-option-list" aria-expanded="false" aria-haspopup="true">User Options</button>
                    <ul id="user-option-list" class="dropdown" aria-hidden="true"></ul>
                </div>
			[$ELSE IF LOGGED$]
            	<div id="custom-mystart-signin"></div>
				<div id="custom-mystart-register"></div>
			[$END IF LOGGED IN$]
            
            <div id="search-input-wrapper" class="flex-cont ai-c">
                <button id="search-trigger" class="mystart-label" aria-controls="gb-search-form" aria-expanded="false" aria-label="Toggle the search form"><i class="dev-icon-search"></i><span class="hidden">Search</span></button>

                <form id="gb-search-form" class="hidden" aria-hidden="true">
                    <label for="gb-search-input" class="hidden">Search...</label>		
                    <input type="text" id="gb-search-input" class="gb-search-input" value="Search..." />
                    <button type="submit" id="gb-search-submit" aria-label="Submit the search input"><i class="dev-icon-arrow"></i><span class="hidden">Submit</span></button>
                </form>
            </div>
        </section>
        
        <section id="school-header" class="gb-section gb-section-pad">
        	<div id="header-logo" class="logo-container flex-cont ai-c" data-sitename="<SWCtrl controlname="Custom" props="Name:showSchoolName" />">
                <div class="sitename-container" data-hide="!<SWCtrl controlname="Custom" props="Name:showSchoolName" />">
                    <h1><span><SWCtrl controlname="Custom" props="Name:schoolnameLineOne" /></span> <span><SWCtrl controlname="Custom" props="Name:schoolnameLineTwo" /></span></h1>
                </div>
            </div>
        </section>
        
        <nav id="gb-channel-list-outer" class="gb-section gb-section-pad" aria-label="[$SiteAlias$] Channels">
            <section id="gb-channel-list">
                [$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
            </section>
        </nav>
    </header>
	
	
	
	
	<main>
		<section id="hp-slideshow-outer">
			<div id="hp-slideshow" template-hero-option="<SWCtrl controlname="Custom" props="Name:heroOption" />">
				[$ContentRegion props="ContainerNumber:10;ContainerWidth:FULL;EditClass:clearleft;EditRenderOrder:1;"$]
			</div>
		</section>	
        
        <SWCtrl controlname="SkipNav" props=""/>
		<section id="hp-content-outer">
			<div id="hp-content">
				<div class="hp-row one">
                	<div class="gb-section gb-section-pad">
						[$ContentRegion props="ContainerNumber:1;ContainerWidth:FULL;EditClass:clearleft;EditRenderOrder:2;"$]
					</div>
                </div>
                
				<div class="hp-row two">
					<div class="gb-section gb-section-pad">
                    	[$ContentRegion props="ContainerNumber:2;ContainerWidth:FULL;EditClass:clearleft;EditRenderOrder:3;"$]
					</div>
                </div>
                
				<div class="hp-row three">
                	<div class="gb-section gb-section-pad flex-cont">
                   		<div class="hp-column one"> 
							[$ContentRegion props="ContainerNumber:3;ContainerWidth:HALF;EditClass:clearleft;EditRenderOrder:4;"$]
						</div>
                        
                        <div class="hp-column two">
                        	[$ContentRegion props="ContainerNumber:4;ContainerWidth:HALF;EditClass:;EditRenderOrder:5;"$]
                        </div>
                    </div>
                </div>
			</div>
		</section>
	</main>
	
	
	
	<footer id="gb-main-page-footer">
		<section id="gb-footer-outer">
			<div id="gb-footer" class="gb-section gb-section-pad">
            	<div class="footer-top">
                    <div class="sitename-container">
                        <h2><span class="line-one"><SWCtrl controlname="Custom" props="Name:schoolnameLineOne" /></span> <span class="line-two"><SWCtrl controlname="Custom" props="Name:schoolnameLineTwo" /></span></h2>
                    </div>
                </div>
                
                <div class="footer-bottom flex-cont jc-sb">
                	<div class="footer-left bottom">
                        <div id="footer-address" class="flex-cont">
                            <div class="flex-cont ai-c">
                                <a id="google-map-link" href="//www.google.com/maps/place/[$SiteAddressOne$] [$SiteCity$], [$SiteState$] [$SiteZip$]" class="flex-cont fw-w">
                                	<i class="dev-icon-map" role="presentation" aria-hidden="true"></i>
                                    
                                	<span>
                                    	<span>[$SiteAddressOne$]</span> <span>[$SiteCity$], [$SiteState$] [$SiteZip$]</span>
                                    </span>
                                </a>
                        	</div>
                        </div>

                        <div id="footer-phone-numbers" class="flex-cont fw-w">
                            <p id="cs-phone-number" data-hide="[$SiteContactPhone$]" x-ms-format-detection="none" ><i class="communication cs-icon-communication-59" role="presentation" aria-hidden="true"></i> <span>[$SiteContactPhone$]</span></p>
                            <p id="cs-fax-number" data-hide="[$SiteContactFax$]"><i class="communication cs-icon-communication-77" role="presentation" aria-hidden="true"></i> <span>[$SiteContactFax$]</span></p>
                        </div>
                    </div>
                    
                    <ul id="gb-social-media" class="strip-ul flex-cont ai-c jc-fe fw-w hide768">
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showFacebook" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:FacebookUrl" />" target="<SWCtrl controlname="Custom" props="Name:FacebookTarget" />" aria-label="Facebook"><i class="social-media cs-icon-social-media-22"></i> <span class="hidden">Facebook</span></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showTwitter" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:TwitterUrl" />" target="<SWCtrl controlname="Custom" props="Name:TwitterTarget" />" aria-label="Twitter"><i class="social-media cs-icon-social-media-18"></i> <span class="hidden">Twitter</span></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showYouTube" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:YouTubeUrl" />" target="<SWCtrl controlname="Custom" props="Name:YouTubeTarget" />" aria-label="YouTube"><i class="social-media cs-icon-social-media-40"></i> <span class="hidden">YouTube</span></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showLinkedIn" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:LinkedInUrl" />" target="<SWCtrl controlname="Custom" props="Name:LinkedInTarget" />" aria-label="LinkedIn"><i class="social-media cs-icon-social-media-31"></i> <span class="hidden">LinkedIn</span></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showInstagram" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:InstagramUrl" />" target="<SWCtrl controlname="Custom" props="Name:InstagramTarget" />" aria-label="Instagram"><i class="social-media cs-icon-social-media-30"></i> <span class="hidden">Instagram</span></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showPinterest" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:PinterestUrl" />" target="<SWCtrl controlname="Custom" props="Name:PinterestTarget" />" aria-label="Pinterest"><i class="social-media cs-icon-social-media-32"></i> <span class="hidden">Pinterest</span></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showFlickr" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:FlickrUrl" />" target="<SWCtrl controlname="Custom" props="Name:FlickrTarget" />" aria-label="Flickr"><i class="social-media cs-icon-social-media-23"></i> <span class="hidden">Flickr</span></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showVimeo" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:VimeoUrl" />" target="<SWCtrl controlname="Custom" props="Name:VimeoTarget" />" aria-label="Vimeo"><i class="social-media cs-icon-social-media-36"></i> <span class="hidden">Vimeo</span></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showPeachjar" />"><a class="flex-cont ai-c jc-c" href="<SWCtrl controlname="Custom" props="Name:PeachjarUrl" />" target="<SWCtrl controlname="Custom" props="Name:PeachjarTarget" />" aria-label="PeachJar"><i class="social-media cs-icon-social-media-42"></i> <span class="hidden">PeachJar</span></a></li>
                    </ul>
                </div>
            </div>
		</section>
        
		<section id="gb-footer-legal-outer">
			<div id="gb-footer-legal" class="gb-section gb-section-pad flex-cont ai-c jc-sb">
				<div id="legal" class="inline-flex-cont ai-c">
					<div id="bb-legal-logo"></div>
                    
                    <div id="legal-links">
                        <a id="feedback" href="#">Questions or Feedback?</a>
                        <a id="terms" href="#">Terms of Use</a>
                        <a id="policy" href="#">Privacy Policy</a>
                        <p id="copyright"></p>
					</div>
                </div>
                
                <div id="footer-buttons" class="inline-children">
                	[$SiteMapLink$]
                    
                    <button id="back-to-top" aria-label="scroll back to the top of the page"><i class="dev-icon-chevron rotating-icon point-up"></i> Back to Top</button>
                </div>
			</div>
		</section>
	</footer>

</div>
