<div id="gb-page" class="sp">
	<header id="gb-main-page-header">
    	<section id="gb-custom-mystart" class="gb-section gb-section-pad flex-cont">
        	<a href="/dev0" class="mystart-label">District Home</a>
            
            <div id="gb-school-list" class="custom-dropdown">
                <button class="mystart-label" aria-controls="school-list" aria-expanded="false" aria-haspopup="true">Our Schools</button>
                <ul id="school-list" class="dropdown" aria-hidden="true"></ul>
            </div>
            
            <div id="gb-translate-options">
                <div class="mystart-label"><span>Translate</span><i class="dev-icon-double-arrow rotating-icon"></i></div>
                <div id="google_translate_element"></div>
            </div>
            
            [$IF LOGGED IN$]
				<div id="gb-user-options" class="custom-dropdown">
                    <button class="mystart-label" aria-controls="user-option-list" aria-expanded="false" aria-haspopup="true">User Options</button>
                    <ul id="user-option-list" class="dropdown" aria-hidden="true"></ul>
                </div>
			[$ELSE IF LOGGED$]
            	<div id="custom-mystart-signin"></div>
				<div id="custom-mystart-register"></div>
			[$END IF LOGGED IN$]
            
            <div id="search-input-wrapper" class="flex-cont ai-c">
                <button id="search-trigger" class="mystart-label" aria-controls="gb-search-form" aria-expanded="false" aria-label="Toggle the search form"><i class="dev-icon-search"></i><span class="hidden">Search</span></button>

                <form id="gb-search-form" class="hidden" aria-hidden="true">
                    <label for="gb-search-input" class="hidden">Search...</label>		
                    <input type="text" id="gb-search-input" class="gb-search-input" value="Search..." />
                    <button type="submit" id="gb-search-submit" aria-label="Submit the search input"><i class="dev-icon-arrow"></i><span class="hidden">Submit</span></button>
                </form>
            </div>
        </section>
        
        <section id="school-header" class="gb-section gb-section-pad">
        	<div id="gb-logo">
				<a href="/[$SITEALIAS$]" title="[$SiteName$]" class="flex-cont">
                	<div class="sitename-container">
                    	<h1><SWCtrl controlname="Custom" props="Name:schoolnameLineOne" /></h1>
                        <h2><SWCtrl controlname="Custom" props="Name:schoolnameLineTwo" /></h2>
                    </div>
                </a>		
			</div>
        </section>
        
        <nav id="gb-channel-list-outer" class="gb-section gb-section-pad">
            <section id="gb-channel-list">
                [$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
            </section>
        </nav>
    </header>
	
	
	
	<main id="spn-content-outer">
    	<nav id="sp-breadcrumbs" class="gb-section gb-section-pad">
			<span class="noprint">[$Breadcrumb props="MaxLevels:3"$]</span>
		</nav>
        
		<section id="spn-content" class="gb-section gb-section-pad">
			[$ContentLayoutPlaceholder$]
		</section>
	</main>
	
	
	
	<footer id="gb-main-page-footer">
		<section id="gb-footer-outer" class="gb-section-parent">
			<div id="gb-footer" class="gb-section gb-section-pad">
            	<div class="footer-top">
                    <div class="sitename-container">
                        <h2><span class="line-one"><SWCtrl controlname="Custom" props="Name:schoolnameLineOne" /></span> <span class="line-two"><SWCtrl controlname="Custom" props="Name:schoolnameLineTwo" /></span></h2>
                    </div>
                </div>
                
                <div class="footer-bottom flex-cont jc-sb">
                	<div class="footer-left bottom">
                        <div id="footer-address" class="flex-cont">
                            <div class="flex-cont ai-c">
                                <a id="google-map-link" href="//www.google.com/maps/dir/current+location/[$SiteAddressOne$] [$SiteCity$], [$SiteState$] [$SiteZip$]"><i class="dev-icon-location" role="presentation" aria-hidden="true"></i> <span>Get Directions</span></a>
                                <p><span>[$SiteAddressOne$]</span><span>[$SiteCity$], [$SiteState$] [$SiteZip$]</span></p>
                        	</div>
                        </div>

                        <div id="footer-phone-numbers" class="flex-cont fw-w">
                            <p id="phone-number-one" data-hide="[$SiteContactPhone$]" x-ms-format-detection="none" >Phone [$SiteContactPhone$]</p>
                            <p id="phone-number-four" data-hide="[$SiteContactFax$]">Fax [$SiteContactFax$]</p>
                        </div>
                    </div>
                    
                    <ul id="gb-social-media" class="strip-ul flex-cont">
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showTwitter" />"><a href="<SWCtrl controlname="Custom" props="Name:TwitterUrl" />" class="flex-cont ai-c jc-c" aria-label="Twitter"><i class="dev-icon-twitter"></i></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showFacebook" />"><a href="<SWCtrl controlname="Custom" props="Name:FacebookUrl" />" class="flex-cont ai-c jc-c" aria-label="Facebook"><i class="dev-icon-facebook"></i></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showYouTube" />"><a href="<SWCtrl controlname="Custom" props="Name:YouTubeUrl" />" class="flex-cont ai-c jc-c" aria-label="YouTube"><i class="dev-icon-youtube"></i></a></li>
                        <li data-hide="!<SWCtrl controlname="Custom" props="Name:showInstagram" />"><a href="<SWCtrl controlname="Custom" props="Name:InstagramUrl" />" class="flex-cont ai-c jc-c" aria-label="Instagram"><i class="dev-icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
		</section>
        
		<section id="gb-footer-legal-outer" class="ui-clear gb-section-parent" >
			<div id="gb-footer-legal" class="gb-section gb-section-pad flex-cont ai-c jc-sb">
				<div id="legal" class="flex-cont">
					<div id="bb-legal-logo"></div>
                    
                    <div id="legal-links">
                        <a id="feedback" href="#">Questions or Feedback?</a>
                        <a id="terms" href="#">Terms of Use</a>
                        <a id="policy" href="#">Privacy Policy</a>
                        <p id="copyright"></p>
					</div>
                </div>
                
                <div id="footer-buttons" class="inline-children">
                	[$SiteMapLink$]
                    
                    <button id="back-to-top" aria-label="scroll back to the top of the page"><i class="dev-icon-chevron rotating-icon point-up"></i> Back to Top</button>
                </div>
			</div>
		</section>
	</footer>
</div>
