@import "../../../utilities/css/utilities";

/* GroupBegin Font Icons */


/* Icon Rotation */
[class^="dev-icon-"].rotating-icon:before, 
[class*=" dev-icon-"].rotating-icon:before{
	display: inline-block; 
	-webkit-transition: all 0.3s; 
	-moz-transition: all 0.3s;
	transition: all 0.3s; 
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
}
[class^="dev-icon-"].rotating-icon.point-left:before, 
[class*=" dev-icon-"].rotating-icon.point-left:before{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg); 
	transform: rotate(180deg); 
}
[class^="dev-icon-"].rotating-icon.point-down:before, 
[class*=" dev-icon-"].rotating-icon.point-down:before{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg); 
	transform: rotate(90deg); 
}
[class^="dev-icon-"].rotating-icon.point-up:before, 
[class*=" dev-icon-"].rotating-icon.point-up:before{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/* GroupEnd */
 
/* GroupBegin Global */
@-ms-viewport {
	width: auto !important;
} 
body {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    background: #FFF;
}
body:before {
	content: "desktop";
}
button{
	cursor: pointer;
    overflow: visible;
    margin: 0;
	padding: 0;
    border-radius: 0;
}
.show960 {
	display: block;
}
.hide960,
.hidden {
	display: none;
}
[data-hide=""], 
[data-hide="!false"], 
[data-hide="true"],
[data-secondary-hide=""], 
[data-secondary-hide="!false"], 
[data-secondary-hide="true"]{
	display: none !important;
}
.strip-ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.inline-children > *:not(script):not(style){
	display: inline-block;
	vertical-align: middle;
}
.inline-children:after{
	content: ".";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
}
.flex-cont{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.inline-flex-cont{
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.jc-sb{
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}
.jc-sa{
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.jc-c{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ai-fs{
	-webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.ai-fe{
	-webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.ai-c{
	-webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ai-b{
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.as-s{
	-webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
.as-c{
	-webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.fd-col{
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fw-w{
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sticky{
	position: fixed;
}
.gb-section-parent{
	position: relative;
}
.gb-section{
	max-width: 1280px;
    margin: 0 auto;
}
.gb-section-pad{
	padding-right: 25px;
	padding-left: 25px;
    box-sizing: border-box;
}
div.sw-special-mode-bar {
	position: fixed !important;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

#gb-page {
	width: 100%;
	position: relative;
	overflow: hidden;
}
/* GroupEnd */

/* GroupBegin Mystart */
#sw-mystart-outer {
	display: none;
}
/* GroupEnd */ 

/* GroupBegin Header */
#gb-header-outer {
	position: relative;
}
#header-logo a{
	display: inline-block;
}
#header-logo img {
	max-width: 100%;
    height: auto;
	max-height: 100%;
}
#header-logo[data-sitename="true"] img{
	max-width: 107px;
}
#header-logo .sitename-container{
	padding-left: 15px;
}
#header-logo .sitename-container h1{
	position: relative;
	font: normal 700 3rem/1 'Josefin Sans', sans-serif;
    color: #333;
}
#header-logo .sitename-container h1 span{
	position: relative;
}
#header-logo .sitename-container h1 span + span{
	display: block;
	font-size: 1rem;
}

#gb-translate-menu{
	position: relative;
}
#gb-translate-menu i{
	position: absolute;
    top: calc(50% - 5px);
    left: 0;
}
#gb-translate-menu #cs-branded-translate-dropdown{
	position: relative;
    width: 76px;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
}

#search-input-wrapper{
	position: relative;
}
#search-trigger.mystart-label{
	padding-top: 10px;
    padding-bottom: 9px;
}
#search-trigger.mystart-label i:before{
	font-size: 1.1875rem;
}
#gb-search-form{
	position: absolute;
    top: 100%;
    right: 0;
    width: 377px !important;
    padding-top: 22px;
    padding-right: 22px !important;
    padding-bottom: 22px;
    padding-left: 22px !important;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 1;
}
#gb-search-input{
    width: 100%;
    height: 45px;
    font: normal 400 1rem 'Open Sans', sans-serif;
    color: #333;
    padding: 0 14px;
    border: solid 2px #F9B936;
    border-radius: 3px;
    box-sizing: border-box;
}
#gb-search-submit{
    position: absolute;
    top: calc(50% - 8px);
    right: 35px;
    font-size: 1rem;
    color: #00245D;
    background: none;
    border: none;
}
/* GroupEnd */

/* GroupBegin Custom Dropdowns */
.custom-dropdown{
	position: relative;
	cursor: pointer;
}
.custom-dropdown .dropdown{
	display: none;
	position: absolute;
	top: 100%;
	z-index: 8002;
	list-style: none;
	margin: 0;
	padding: 30px 20px;
	width: 270px;
    max-height: 350px;
    background-color: #fff;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.30);
    box-sizing: border-box;
    overflow: auto;
}
.custom-dropdown.openMenu .dropdown{ display: block; }
.custom-dropdown.on-bottom .dropdown{ bottom: 100%; top: auto; }
.custom-dropdown.on-right .dropdown{ right: 0; }

.custom-dropdown ul li a{
	display: block;
	width: 100%;
    padding: 12px 0;
    font: normal 400 1rem 'Open Sans', sans-serif;
	color: #333;
	text-decoration: none;
    border-bottom: solid 1px #ccc;
	box-sizing: border-box;	
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.custom-dropdown ul li a:hover,
.custom-dropdown ul li a:focus{
	color: #333;
	border-color: #333;
}

div#ui-mypasskey-overlay{
	padding: 0;
    margin-top: -304px;
}
/* GroupEnd */

/* GroupBegin Channel Nav */
#gb-channel-list-outer {
	position: relative;
}
#gb-channel-list {
	min-height: 39px;
}
#sw-channel-list-container {
	display: block;
	width: auto;
}
ul.sw-channel-list {
	margin: 0;
	padding: 0;
    border: none;
}
ul.sw-channel-list li.sw-channel-item {
	position: relative;
	float: left;
	height: 39px;
	margin: 0;
    list-style: none outside none;
}
li.sw-channel-item > a {
	display: block;
	height: 100%;
    color: #000;
	padding: 10px 15px;
	text-decoration: none;
    box-sizing: border-box;
}
li.sw-channel-item > a span {
	display: block;
	padding: 0;
}
li.sw-channel-item.hover > a,
li.sw-channel-item.active > a,
li.sw-channel-item > a:focus{
	color: #000000;
}
/* GroupEnd */

/* GroupBegin Channel Dropdown Styles */
ul.sw-channel-dropdown {
	display: none;
    position: absolute;
	top: 100%;
    left: 0;
	width: 180px;
	margin: 0;
	padding: 0;
    background: #F3F3F3;
	border: none;
    list-style: none;
	z-index: 7001;
}
ul.sw-channel-dropdown li {
	display: block;
	height: auto;
    width: 100%;
	margin: 0;
	padding: 0;
    background: transparent;
	border: 0 none;
	list-style: none;
	white-space: pre-wrap;
}
ul.sw-channel-dropdown li a {
	display: block;
    width: 100%;
	padding: 7px 10px;
    color: #666666;
    background: transparent;
	text-decoration: none;
    box-sizing: border-box;
}
ul.sw-channel-dropdown li a:hover,
ul.sw-channel-dropdown li a:focus{
	background: #E2E2E2;
	color: #000000;
}
.sw-channel-more-li {
	background-color: #333333;
	background-image: url("http://c2.creative.schoolwires.net//GlobalAssets/Images/Backgrounds/sw-channel-more-chevron.png");
	background-position: right top;
	background-repeat: no-repeat;
	color: #FFFFFF;
}
ul.sw-channel-dropdown .sw-channel-more-li a:hover {
	background-color: #333333;
	background-image: url("http://c2.creative.schoolwires.net//GlobalAssets/Images/Backgrounds/sw-channel-more-chevron.png");
	background-position: right top;
	background-repeat: no-repeat;
}
.sw-channel-more-span {
	color: #FFFFFF;
}       
/* GroupEnd */

/* GroupBegin Footer */
#gb-footer-legal-outer {
	position: relative;
	background: #333;
	padding: 10px;
}
#gb-footer-legal > p{
	color: #fff;
}
#legal-links > a{
	display: inline-block;
    position: relative;
    padding: 0 3px 0 0;
	margin-right: 3px;
    font-size: 0.625rem;
	color: #FFF;
    border: none;
    text-decoration: none;
}
#legal-links a:before{
	content: '';
    position: absolute;
    right: -3px;
    top: 7px;
    width: 2px;
    height: 2px;
    background: #FFF;
    border-radius: 100%;
}
#legal-links a:last-of-type:before{
	display: none;
}
#legal-links > p{
	position: relative;
    top: -3px;
	padding: 0;
    margin: 0;
	color: #FFF;
	font-size: 0.625rem;
    font-style: italic;
}
#bb-legal-logo{
	padding: 0 8px 0 0;
}

#sw-footer-outer {
	display: none;
}
/* GroupEnd */

/* GroupBegin App Styles */
div.ui-widget.app div.ui-widget-header h1,
div.ui-widget.app.navigation div.ui-widget-header h1,
div.ui-widget.app.detail div.ui-widget-header h1,
div.ui-widget.app div.ui-widget-header h3,
div.ui-widget.app.navigation div.ui-widget-header h3,
div.ui-widget.app.detail div.ui-widget-header h3{
	margin: 0;
    padding: 0;
	font: normal 400 1.625rem/1 'Open Sans', sans-serif;
    color: #222;
}
div.ui-article{
	padding: 0 0 25px;
}

.headlines .ui-article-thumb .img {
	margin: 0 20px 0 0;
}
.headlines .ui-article-title a{
	font: normal 700 1.25rem 'Lato', sans-serif;
    color: #00245D;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.headlines .ui-article-title a:hover,
.headlines .ui-article-title a:focus{
	color: #2257A4;
}
.headlines .ui-article-description{
	margin: 0;
    padding-top: 12px;
}

.upcomingevents .upcoming-column.left{
	padding-bottom: 8px;
}
.upcomingevents .ue-date-top{
	display: block;
	font: normal 700 2.31rem 'Lato', sans-serif;
    color: #00245D;
    text-transform: uppercase;
    padding-bottom: 6px;
	border-bottom: solid 1px #F9B936;
}
.upcomingevents .joel-month{
	padding-right: 7px;
}
.upcomingevents .joel-day{
	display: inline-block;
	font: normal 700 1.25rem 'Lato', sans-serif;
    color: #707070;
    text-transform: uppercase;
    padding: 10px 0 0;
}
.upcomingevents .ui-article-description{
    margin: 0 0 15px;
}
.upcomingevents .ui-article-description:last-child{
	margin-bottom: 0;
}
.upcomingevents .sw-calendar-block-title a{
	font: normal 700 1rem 'Open Sans', sans-serif;
    color: #00245D;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.upcomingevents .sw-calendar-block-title a:hover,
.upcomingevents .sw-calendar-block-title a:focus{
	color: #2257A4;
	text-decoration: underline;
}
.upcomingevents .sw-calendar-block-time{
	display: block;
	font: normal 400 0.875rem 'Open Sans', sans-serif;
    color: #333;
    text-transform: uppercase;
    padding-top: 3px;
}

.announcements .ui-article {
    border-bottom: solid 2px #F9B936;
    padding: 0;
    margin: 0 0 17px;
}

a.view-calendar-link,
a.more-link,
div.app-level-social-rss a.ui-btn-toolbar.rss{
	position: relative;
	display: inline-block;
    font: normal 700 1rem 'Open Sans', sans-serif;
    color: #fff;
    background: #00245D;
    padding: 9px 20px 8px;
    border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none !important;
	-webkit-transition: background 0.4s ease 0s;
    -moz-transition: background 0.4s ease 0s;
	transition: background 0.4s ease 0s;
}
a.view-calendar-link{
	padding-left: 12px;
    padding-right: 12px;
}
a.view-calendar-link > *,
a.more-link > *,
div.app-level-social-rss a.ui-btn-toolbar.rss > *{
	position: relative;
    height: auto;
    padding: 0;
    line-height: 1;
    background: none;
}
a.ui-btn-toolbar.rss span:after{
	margin: 0;
}
#calendar-pnl-smcalendar {
	display: block;
}
#cal-event-detail-col1, #cal-event-detail-col2 {
	width: 100% !important;
	padding: 10px 0px 0px;
}
.cal-ed-header-title {
	width: auto;
}
.ui-column-one.region {
	width: auto;
	clear: both;
}
.ui-column-one-quarter.region {
	width: 25%;
	float: left;
}
.ui-column-one-half.region {
	width: 50%;
	float: left;
}
.ui-column-one-third.region {
	width: 33%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 66%;
	float: left;
}
.region.right {
	float: right;
}
.region.clearleft {
	clear: left;
}
/* GroupEnd */

/* GroupBegin Global Icons */
#gb-global-icons-wrapper,
#gb-global-icons{
	position: relative;
    z-index: 10;
}
#gb-global-icons-wrapper{
	padding: 20px 0;
}
#gb-global-icons{
	width: calc(100% + 40px);
    max-width: 1041px;
    margin-right: -43px;
    padding-left: 5px;
    box-sizing: border-box;
}
#gb-global-icons .cs-global-icons{
	display: flex;
	align-items: center;
}
#gb-global-icons .cs-global-icons > li{
	flex: 1 1 16.6667%;
    padding: 0 7px;
    text-align: center;
}
#gb-global-icons a,
#gb-global-icons-wrapper button{
	color: #333;
}
#gb-global-icons .cs-global-icon{
	display: block;
	padding: 1px 5px;
	text-decoration: none;
}
#gb-global-icons .cs-global-icon span{
	display: block;
}
#gb-global-icons .icon{
	position: relative;
    top: 0;
	font-size: 45px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
#gb-global-icons .cs-global-icon:hover .icon,
#gb-global-icons .cs-global-icon:focus .icon{
	top: -5px;
}
#gb-global-icons .icon img{
	max-width: 45px;
    height: auto;
}
#gb-global-icons .text{
	padding-top: 12px;
	font: normal 700 1rem/1.3 'Roboto', sans-serif;
    text-transform: uppercase;
    word-break: break-word;
}
/* GroupEnd */

/* GroupBegin Navigation Styles */
div.ui-widget.app.navigation ul ul,
div.ui-widget.app.navigation li{
	padding: 0;
    margin: 0;
}
div.ui-widget.app.navigation li a{
	font: normal 700 0.875rem 'Open Sans', sans-serif;
	color: #000;
    padding: 10px 18px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
div.ui-widget.app.navigation li li a{
	font-weight: 400;
	padding-left: 45px;
}
div.ui-widget.app.navigation li a:hover,
div.ui-widget.app.navigation li a:focus{
	color: #fff;
	background: rgba(20, 20, 20, 0.9);
}
div.ui-widget.app.navigation li div.bullet{
	width: 10px;
    height: 10px;
	background: none !important;
	font-size: 0.625rem;
	text-align: center;
	padding-top: 0;
    margin: 15px 8px 0 10px;
	box-sizing: border-box;
	cursor: pointer;
}
div.ui-widget.app.navigation li div.bullet:before{
	content: '';
    font-family: '-icons';
}
div.ui-widget.app.navigation li div.bullet.expandable:before{
	content: "\e917";
}
div.ui-widget.app.navigation li div.bullet.collapsible:before{
	content: "\e918";
}
/* GroupEnd */

/* GroupBegin Photo Area */
#hp-slideshow-outer {
	position: relative;
}
#hp-slideshow {
	overflow: hidden;
}

#hp-slideshow .mmg-description-outer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: right;
    z-index: 10;
}
#hp-slideshow .mmg-description{
	position: relative;
    display: inline-block;
    width: auto;
    min-width: 208px;
	background: rgba(255, 255, 255, 0.8);
    padding: 25px 25px 92px;
    text-align: left;
    box-sizing: border-box;
}
#hp-slideshow .mmg-description-title{
	font: normal 500 2.25rem/1 'Josefin Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
}
#hp-slideshow .mmg-description-caption{
	font: normal 400 1.125rem 'Open Sans', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
}
#hp-slideshow .mmg-description-link{
	position: relative;
    padding-right: 20px;
	font: normal 700 1rem 'Montserrat', sans-serif;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}
#hp-slideshow .mmg-description-link:hover span,
#hp-slideshow .mmg-description-link:focus span{
	text-decoration: underline;
}

#hp-slideshow .mmg-controls .mmg-control{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	position: relative;
    height: 40px;
    width: 40px;
    top: auto;
    left: auto;
    right: auto;
    background: none;
    margin: 0;
    border: none;
    border-radius: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
#hp-slideshow .mmg-controls .mmg-control,
#hp-slideshow .mmg-controls .mmg-control.play-pause{
	color: #000;
}
#hp-slideshow .mmg-controls .mmg-control:hover,
#hp-slideshow .mmg-controls .mmg-control:focus{
	color: #000;
}
#hp-slideshow .mmg-controls .mmg-control:after{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
#hp-slideshow .mmg-controls .mmg-control:first-child:after{
	border-radius: 4px 0 0 4px;
}
#hp-slideshow .mmg-controls .mmg-control:last-child:after{
	border-radius: 0 4px 4px 0;
}
#hp-slideshow .mmg-controls .mmg-control:hover:after,
#hp-slideshow .mmg-controls .mmg-control:focus:after{
	background: #000;
    opacity: 1;
}

#hp-slideshow .mmg-controls .mmg-control.next:before,
#hp-slideshow .mmg-controls .mmg-control.back:before,
#hp-slideshow .mmg-controls .mmg-control.play-pause span:before{
	content: '\e90a';
    font-family: 'irving-isd-icons' !important;
    font-size: 1.25rem;
    line-height: 1;
    display: block;
    position: relative;
    top: auto;
    left: auto;
    padding-left: 2px;
    z-index: 2;
}
#hp-slideshow .mmg-control.play-pause span:after{
	display: none;
}
#hp-slideshow .mmg-controls .mmg-control.back:before{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cs-fullscreen-video-buttons{
	display: none;
}
#hp-slideshow .mmg-control.play-pause span{
	height: auto;
    width: auto;
    color: inherit;
    background: transparent;
    -webkit-transform-style: unset;
    transform-style: unset;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}
#hp-slideshow .mmg-controls .mmg-control.play-pause.paused i{
	right: -1px;
}
#hp-slideshow .mmg-controls .mmg-control.play-pause span:before{
	content: '\e909';
    backface-visibility: visible;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}
#hp-slideshow .mmg-control.play-pause.paused span:before,
#hp-slideshow .mmg-control.play-pause.paused i:before{
	content: '\e910';
}

/* Streaming Video */
#hp-slideshow[template-hero-option="Streaming Video"]:not(.loaded){
	min-height: 42vw;
}
#hp-slideshow[template-hero-option="Streaming Video"] .region{
	display: none;
}
#hp-slideshow .streaming-video-controls .mmg-control i{
	position: relative;
    font-size: 1.25rem;
    line-height: 0;
    z-index: 1;
}
#hp-slideshow .streaming-video-controls .mmg-control.audio i{
	top: 1px;
	font-size: 1.68rem;
}
#hp-slideshow .streaming-video-controls .mmg-control.audio.unmuted i:before{
	content: '\e903';
}
/* GroupEnd */

/* GroupBegin Homepage */
#hp-content-outer {
	position: relative;
}
/* GroupEnd */

/* GroupBegin Breadcrumbs */
ul.ui-breadcrumbs{
	margin: 0 0 60px;
	padding: 10px 0 14px;
    border-bottom: solid 2px #e6eaf0;
}
ul.ui-breadcrumbs a,
ul.ui-breadcrumbs li{
	font: italic 700 13px 'Lato', sans-serif;
    color: #000;
    text-decoration: none;
    background: transparent;
}
ul.ui-breadcrumbs > li{
	margin-right: 6px;
}
ul.ui-breadcrumbs > li:after{
	content: "\e913";
    font-family: '-icons';
    font-size: 0.8125rem;
    color: #1d1d1d;
    display: inline-block;
    position: relative;
    top: 2px;
}
ul.ui-breadcrumbs > li:last-child:after{
	display: none;
}
ul.ui-breadcrumbs > li > a{
	position: relative;
	top: 1px;
	padding-right: 7px;
}
ul.ui-breadcrumbs > li > span{
	position: relative;
    top: 1px;
}
/* GroupEnd */

/* GroupBegin Subpage */
#sp-content-outer {
	position: relative;
    display: block;
}

#sp-content-outer .region div[id*="pmi-"]{
	padding: 0 0 42px 42px;
    margin: 0;
    box-sizing: border-box;
}
#spn-content-outer .region div[id*="pmi-"]{
	padding: 0 42px 42px 0;
    margin: 0;
    box-sizing: border-box;
}

.sp-column.one {
	width: 345px;
	min-height: 500px;
	padding: 0px 10px 0px 0px;
}
.sp-column.two {
	width: calc(100% - 345px);
	min-height: 500px;
	padding: 0px 0px 0px 10px;
}
/* GroupEnd */

/* GroupBegin Subpage No Nav */
#spn-content-outer {
	position: relative;
    display: block;
}
#spn-content {
	display: block;
	min-height: 500px;
}
/* GroupEnd */ 


  

/* GroupBegin EditorStyles */
html{
	font-size: 16px;
}
body {
	font: normal 400 1rem 'Open Sans', sans-serif;
	color: #333;
    text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
}

.H1_Template{
	display: inline-block;
	font: normal 700 1.75rem/1.4 'Open Sans', sans-serif;
	margin: 0;
    padding: 1px 0;
}
.H2_Template{
	display: inline-block;
	font: normal 700 1.625rem/1.4 'Open Sans', sans-serif;
	margin: 0;
    padding: 1px 0;
}
.H3_Template{
	display: inline-block;
	font: normal 700 1.5rem/1.4 'Open Sans', sans-serif;
	margin: 0;
    padding: 1px 0;
}
.H4_Template{
	display: inline-block;
	font: normal 700 1.375rem/1.4 'Open Sans', sans-serif;
	margin: 0;
    padding: 1px 0;
}

.Grey_Border_Box{
	display: block;
	padding: 16px 27px;
	border: solid 1px #ccc;
    border-radius: 4px;
}
.Primary_Editor_Style_Box{
	display: block;
	padding: 16px 27px;
    background: #333;
    border-radius: 4px;
}
.Secondary_Editor_Style_Box{
	display: block;
	padding: 16px 27px;
    background: #000;
    border-radius: 4px;
}
.Accent_Editor_Style_Box{
	display: block;
	padding: 16px 27px;
    background: #1c1c1c;
    border-radius: 4px;
}

.title {
	font-weight: bold;
}
.subtitle {
	font-style: italic;
}     
/* GroupEnd */
a{
	color: #333;
}

h1,
h1.ui-article-title{
	font: normal 700 1.75rem 'Open Sans', sans-serif;
	margin: 0;
    padding: 0;
}
h2{
	font: normal 700 1.625rem 'Open Sans', sans-serif;
	margin: 0;
    padding: 0;
}
h3{
	font: normal 400 1.5rem 'Open Sans', sans-serif;
	margin: 0;
    padding: 0;
}
h4{
	font: normal 400 1.375rem 'Open Sans', sans-serif;
	margin: 0;
    padding: 0;
}
h5 {
	font-size: 1.125rem;
	font-weight: bold;
	margin: 0;
    padding: 1px 0;
}
h6 {
	font-size: 1.125rem;
	font-weight: normal;
	font-style: italic;
	margin: 0;
    padding: 1px 0;
}

.Grey_Border_Box .H1_Template,
.Grey_Border_Box .H2_Template,
.Grey_Border_Box .H3_Template,
.Grey_Border_Box .H4_Template,
.Grey_Border_Box h1,
.Grey_Border_Box h2,
.Grey_Border_Box h3,
.Grey_Border_Box h4,
.Grey_Border_Box h5,
.Grey_Border_Box h6{
	color: #fff;
}

.Primary_Editor_Style_Box span,
.Primary_Editor_Style_Box p,
.Primary_Editor_Style_Box a,
.Primary_Editor_Style_Box h1,
.Primary_Editor_Style_Box h2,
.Primary_Editor_Style_Box h3,
.Primary_Editor_Style_Box h4,
.Primary_Editor_Style_Box h5,
.Primary_Editor_Style_Box h6{
	 color: #fff;
}

.Secondary_Editor_Style_Box span,
.Secondary_Editor_Style_Box p,
.Secondary_Editor_Style_Box a,
.Secondary_Editor_Style_Box h1,
.Secondary_Editor_Style_Box h2,
.Secondary_Editor_Style_Box h3,
.Secondary_Editor_Style_Box h4,
.Secondary_Editor_Style_Box h5,
.Secondary_Editor_Style_Box h6{
	color: #fff;
}

.Accent_Editor_Style_Box span,
.Accent_Editor_Style_Box p,
.Accent_Editor_Style_Box a,
.Accent_Editor_Style_Box h1,
.Accent_Editor_Style_Box h2,
.Accent_Editor_Style_Box h3,
.Accent_Editor_Style_Box h4,
.Accent_Editor_Style_Box h5,
.Accent_Editor_Style_Box h6{
	color: #fff;
}