@import "../../../utilities/css/utilities";

/* GroupBegin Global */
body:before {
	content: "480";
}
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
/* GroupEnd */

/* GroupBegin App Styles */
#calendar-pnl-filter-toggle, 
#calendar-pnl-buttons-top {
	display: none;	
}
#calendar-pnl-dateselect {
	float: left;
	clear: both;
}
#calendar-pnl-title {
	width: auto;	
}
#cal-event-detail-header h1 {
	margin: 0px;
}
/* GroupEnd */

/* GroupBegin Subpage */
.hp-row .ui-widget.app div.ui-widget-header h1{
	position: relative;
    padding-right: 30px;
}
.hp-row .ui-widget.app div.ui-widget-header h1:before{
	content: '\e901';
    font-family: '-icons';
    font-size: 1.125rem;
    color: #fff;
    display: block;
    position: absolute;
	top: calc(50% - 9px);
    right: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.hp-row.two .ui-widget.app div.ui-widget-header h1:before{
	color: #000;
}
.hp-row .ui-widget.app.open > div.ui-widget-header h1:before{
	-webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/* GroupEnd *//* GroupBegin Global */
body:before {
	content: "480";
}
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
/* GroupEnd */

/* GroupBegin App Styles */
#calendar-pnl-filter-toggle, 
#calendar-pnl-buttons-top {
	display: none;	
}
#calendar-pnl-dateselect {
	float: left;
	clear: both;
}
#calendar-pnl-title {
	width: auto;	
}
#cal-event-detail-header h1 {
	margin: 0px;
}
/* GroupEnd */

/* GroupBegin Subpage */
.hp-row .ui-widget.app div.ui-widget-header h1{
	position: relative;
    padding-right: 30px;
}
.hp-row .ui-widget.app div.ui-widget-header h1:before{
	content: '\e901';
    font-family: '-icons';
    font-size: 1.125rem;
    color: #fff;
    display: block;
    position: absolute;
	top: calc(50% - 9px);
    right: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.hp-row.two .ui-widget.app div.ui-widget-header h1:before{
	color: #000;
}
.hp-row .ui-widget.app.open > div.ui-widget-header h1:before{
	-webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/* GroupEnd */