@import "../../../utilities/css/utilities";

/* GroupBegin Global */
body:before {
	content: "640";
}
.show640 {
	display: block;
}
.hide640 {
	display: none;
}
/* GroupEnd */

/* GroupBegin App Styles */
.ui-column-one.region {
	width: auto;
	clear: none;
}
.ui-column-one-quarter.region {
	width: auto;
	float: none;
}
.ui-column-one-half.region {
	width: auto;
	float: none;
}
.ui-column-one-third.region {
	width: auto;
	float: none;
}
.ui-column-two-thirds.region {
	width: auto;
	float: none;
}
.region.right {
	float: none;
}
input.ui-txt-general.medium, textarea.ui-txt-general.medium, input.ui-txt-heading.medium {
	width: 80%;
}
.ui-spn .ui-column-one-third {
        width: auto !important;
        float: none !important;
}
/* GroupEnd */