@import "../../../utilities/css/utilities";

/* GroupBegin Global */
body:before {
	content: "768";
}
.show768 {
	display: block;
}
.hide768,
#sw-channel-list-container{
	display: none;
}
/* GroupEnd */



/* GroupBegin Responsive Menu */
#rs-menu-btn{
	position: relative;
	display: inline-block;
	float: none;
    font: normal 700 0.875rem 'Open Sans', sans-serif;
    color: #fff;
    padding: 3px 15px 3px 0;
}
#rs-menu-btn:before{
	display: none;
}
#rs-menu-btn i{
	font-size: 1.75rem;
    padding-right: 3px;
    vertical-align: middle;
}
/* GroupEnd */

/* GroupBegin App Styles */
#calendar-pnl-calendarcontainer {
	min-width: 0px;
}
#calendar-pnl-smcalendar {
	display: none;
}
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float: left;
}
.region.clearleft {
	clear: none;
}                  
/* GroupEnd */

/* GroupBegin Subpage */
.sp-column.one,
.sp-column.two {
	min-height: 0px;
    float: none;
    width: 100%;
    padding: 0;
}
.sp-column.one .ui-widget.app div.ui-widget-header h1{
	position: relative;
    padding-right: 30px;
}
.sp-column.one .ui-widget.app div.ui-widget-header h1:before{
	content: '\e901';
    font-family: '-icons';
    font-size: 1.125rem;
    color: #000;
    display: block;
    position: absolute;
	top: calc(50% - 9px);
    right: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sp-column.one .ui-widget.app.open > div.ui-widget-header h1:before{
	-webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/* GroupEnd */

/* GroupBegin Subpage No Nav */
#spn-content {
	min-height: 0px;
}
/* GroupEnd */  

/* GroupBegin Channel Bar Dropdown Styles */
ul.sw-channel-list li.sw-channel-item.last ul.sw-channel-dropdown {
	left: auto;
	right: 0px;
}
/* GroupEnd */