<div id="gb-page" class="hp [$SiteAlias$]">
	<header id="gb-header">
		<section class="header-row one">
			<div class="cs-mystart-button home">
				<a class="cs-button-selector" href="/">District Home</a>
			</div>
			<div class="cs-mystart-dropdown our-schools">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='Our Schools' role="button" aria-expanded="false" aria-haspopup="true">Our Schools</div>
				<div class="cs-dropdown" aria-hidden="true" style="display:none;">
					<ul class="cs-dropdown-list"></ul>
				</div>
			</div>
			<div class="cs-mystart-dropdown translate">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='Translate' role="button" aria-expanded="false" aria-haspopup="true">Translate</div>
					<div class="cs-dropdown" aria-hidden="true" style="display:none;">
				</div>
			</div>
			<div class="cs-mystart-dropdown user-options">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='User Options' role="button" aria-expanded="false" aria-haspopup="true">User Options</div>
				<div class="cs-dropdown" aria-hidden="true" style="display:none;">
					<ul class="cs-dropdown-list"></ul>
				</div>
			</div>
			<div class="cs-mystart-button search">
				<div class="cs-button-selector" tabindex="0" aria-label='Open Search' role="button" aria-expanded="false" aria-haspopup="true">Search</div>
				<div id="gb-search"></div>
			</div>
		</section>
		<section class="header-row two">
			<div class="content-wrap">
				<div id="gb-logo-sitename">
					<div id="gb-logo"></div>
					<div id="gb-sitename">
						<h1>
							<span class="sitename"><SWCtrl controlname="Custom" props="Name:schoolNameLineOneText" /></span>
							<span class="sitename"><SWCtrl controlname="Custom" props="Name:schoolNameLineTwoText" /></span>
						</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="header-row three">
			<nav id="gb-channel-bar" class="content-wrap">
				[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
			</nav>
		</section>
	</header>
	<main id="hp-content">
		<section class="hp-row one" id="hp-slideshow-outer">
			<div id="hp-slideshow">
				[$ContentRegion props="ContainerNumber:10"$]
			</div>
		</section>
		<section class="hp-row two">
			<div class="content-wrap" id="gb-icons"></div>
		</section>
		<section class="hp-row three">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:1"$]
			</div>
		</section>
		<section class="hp-row four">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:2"$]
			</div>
		</section>
		<section class="hp-row five">
			<div class="content-wrap">
				<div class="hp-column one">
					[$ContentRegion props="ContainerNumber:3"$]
				</div>
				<div class="hp-column two">
					[$ContentRegion props="ContainerNumber:4"$]
				</div>
				<div class="hp-column three">
					[$ContentRegion props="ContainerNumber:5"$]
				</div>
			</div>
		</section>
	</main>
	<footer id="gb-footer">
		<section class="footer-row one">
			<div class="content-wrap">
				<div class="footer-column one">
					<div id="gb-social">

					</div>
					<div id="gb-contact">
						<h2 id="footer-sitename">[$SiteName$]</h2>
						<p class="contact-info" data-content="[$SiteAddressOne$]">
							<span class="contact-column one">[$SiteAddressOne$]</span>
							<span class="contact-column two">[$SiteCity$], [$SiteState$] [$SiteZip$]</span>
						</p>
						<p class="contact-info">
							<span class="contact-column one" data-content="[$SiteContactPhone$]"><span role="presentation">P </span><span aria-label="Phone Number: [$SiteContactPhone$]">[$SiteContactPhone$]</span></span>
							<span class="contact-column two" data-content="[$SiteContactFax$]"><span role="presentation">F </span><span aria-label="Fax Number: [$SiteContactFax$]">[$SiteContactFax$]</span></span>
						</p>
					</div>
				</div>
				<div class="footer-column two">
					<div id="gb-map"></div>
				</div>
			</div>
		</section>
		<section class="footer-row two">
			<div id="gb-to-top" role="button" tabindex="0">
				<span>Back to Top</span>
			</div>
		</section>
		<section class="footer-row three">
			<div class="content-wrap">
				<div class="footer-column one">
					<div id="gb-bb-footer" class="ui-clear">
						<div class="gb-bb-footer logo"></div>
						<div id="gb-schoolwires-footer-links-copyright">
							<div class="gb-bb-footer links ui-clear"></div>
							<div class="gb-bb-footer copyright"></div>
						</div>
					</div>
				</div>
				<div class="footer-column two">
					<a class="footer-link" data-content='<SWCtrl controlname="Custom" props="Name:extraFooterLinkUrl" />'' href='<SWCtrl controlname="Custom" props="Name:extraFooterLinkUrl" />' target='<SWCtrl controlname="Custom" props="Name:extraFooterLinkTarget" />'>
						<span><SWCtrl controlname="Custom" props="Name:extraFooterLinkText" /></span>
					</a>
					<a class="footer-link" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
						<span>Site Map</span>
					</a>
				</div>
			</div>
		</section>
	</footer>
</div>
